
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  justify-content: center !important;
  align-items: start !important;
  background-color: #242424;
}

a{
  color: #646cff !important;
  font-weight: 500;
  text-decoration: none;
}
a:hover{
  color: #535bf2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  font-size: 20px;
  margin-bottom: 40px;;
  
}
.navbar a{
  color: rgb(117, 117, 222);
}
.navbar a.active{
  background-color: aliceblue !important;
}
.internalNav a.active{
  background-color: aliceblue !important;
  padding: 4px;
}
h1,h3 ,label, p,span,div{
  color: aliceblue;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover{
  border-color: #535bf2;
}

input{
  text-rendering: auto;
  
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color:white;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133) );
  border-image: initial;
}
